body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #F8EEE7;
}

.flex-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #F4DECB;
  border-radius: 5px;
  padding: 2px 16px;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 40x;
  font-size: 15px;
}

.flex-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.eggplant a {
  color: #49274A
}