.wrapper {
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 30px;
    padding-left: 40px;
    padding-top: 40px;
    font-size: 30px;
    color: #49274A;
    background-color: #F4DECB;
}

.box.flex {
    display: flex;
    justify-content: center;
  }
  
  .box {
    padding: .5rem;
    height: 300px;
    border-radius: 4px;
  }

  .box img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: none;
    height: none;
    max-width: 35%;
    max-height: 35%;
  }